.Train>.details {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.Train>.details>.picture {
    width: 100px;
    height: 100px;
    background: rgba(0, 0, 0, 0.2);
}

.Train>.details>.metadata {
    padding-left: 120px;
    
}

.Train>.day-picker .DayPicker {
    overflow: hidden;
}